# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# npm lock file
package-lock.json

# Intellij/WebStorm IDE
*.iml
/.idea

# Visual Studio Code configuration
*.code-workspace
.history
/jsconfig.json
.vscode

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
compile_commands.json
node_modules
*.mem
ftpsync.settings
*.log
screenshots/
Gemfile
Gemfile.lock
Vagrantfile
/packages/sigma
/packages/fin-hypergrid
coverage

.DS_Store

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
!website/i18n/en.json
.vscode

.idea

package.json.lerna_backup
website/static/css/material.dark.css